*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #47663B;
    display: flex;
    justify-content: center;
}
.container{
    width: 400px;
    padding: 25px 35px;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 5px;
}
p{
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
}
input{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
    margin: 12px 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    width: 100%;
    height: 40px;
    background-color: #375f27;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
}
.qrBox{
    display: flex;
    justify-content: center;
}
img{
    width: 80%;
    padding: 10px;
}
#imgBox.show-img{
    height: 300px;
    margin: 10px auto;
    border: 1px solid #47663B;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width: 520px){
    .container{
        margin-top: 20px;
    }
}